API_BASE_URL=https://cosmetics-api-dev.fly.dev
ENVELOPE_BASE_URL=https://keysarcosmetics-envelope-git-develop-minnicas-projects.vercel.app
PAYROLL_BASE_URL=https://keysarcosmetics-payroll-git-develop-minnicas-projects.vercel.app
ENVELOPE_VERCEL_BYPASS_SECRET=
PAYROLL_VERCEL_BYPASS_SECRET=
